.todoItem {
  list-style-type: none;
  padding: 0.5rem;
  /* background: grey; */
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thin;
  border-color: grey;
}

.todoItem > * {
  margin: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.todoItem > span {
  flex: 1;
  padding: 0.5rem;

  /* if a long string without space is entered
   * then the UI should not break
   * the string will be limited to 60 char anyways*/
  overflow: hidden;
}

.todoForm {
  display: flex;
  flex: 1;
}

.todoForm > * {
  margin: 0.4rem;
}

.todoForm > input {
  padding: 0.5rem;
  width: 100%;
}
